# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=apple
POSTGRES_DB=ecowheel
DATABASE_URL=postgresql://postgres:apple@localhost:5432/ecowheel
JWT_SECRET=mysupersecret
# DATABASE_URL_LOCAL=5432
DATABASE_URL_DEV=postgresql://postgres:apple@localhost:5432/ecowheel
#DATABASE_URL_PROD=
# JWT
JWT_SIGNATURE=jwtsecret1234567890
# CORS
CORS_ALLOW_URL=http://localhost:3000,http://localhost:3002
# API
API_PORT=3300
# BASE URL
# BASE_URL_PROD=https://EcoWheel.me
# BASE_URL_DEV=https://dev.EcoWheel.me
BASE_URL_LOCAL=http://localhost:3000
BASE_URL_API_LOCAL=http://localhost:3300
# Google OAuth (manualy add in from server)
CLIENT_ID=test
CLIENT_SECRET=test
# dev OR prod OR local
NODE_ENV=local
# dev OR prod OR local
DB_MODE=dev
# email (manualy add in from server)
#EMAIL_USERNAME=
#EMAIL_PASSWORD=
# paypal (manualy add in from server)
#PAYPAL_CLIENT_ID=
#PAYPAL_CLIENT_SECRET=
